#rides-list{
    font-family: 'Inter', sans-serif;
    justify-content: center;
    color:rgb(63, 63, 63)
}
#rides-list h2{
    text-align:left;
    margin-left: 20px;
    font-size: 20px;
}
ul{
    list-style-type: none;
    padding:0;
}
.ride{
    display:flex;
    flex-direction:row;
    align-items: top;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-bottom:20px;
    margin:20px;
}
.ride-info{
    display:block;
    
}
#rides-list i{
    color:rgb(0, 0, 0);
    margin-right:10px;
}
button{
    background-color: rgb(0, 0, 0);
    color:white;
    border:none;
    border-radius:20px;
    height:40px;
    width: 150px;
    font-family:'Inter', sans-serif;
    font-size:14px;
}
button:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    border:1px solid rgb(0, 0, 0);
}
.section-header{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content:left;
    margin-bottom:20px;
    margin-top:20px;
}
.section-header input{
    padding:10px;
    border-radius:20px;
    border:1px solid rgb(0, 0, 0);
    width: 300px;
    margin-left: 40px;
}
.section-header i{
    margin-left:10px;
}
.filter{
    position: relative;
    cursor: pointer;
}
.filter-menu{
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    background: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    display: none;
}
.filter:hover .filter-menu{
    display: block;
}
.filter-menu{
    flex-direction: column;
    align-items: flex-start;    
    justify-content: center;
}
.filter-option{
    padding: 10px;
    width: 80%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
}